<h1>Пользователи</h1>
<%= will_paginate %>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Заходил на сайт</th>
      <% if current_user.admin? %>
          <th>Подтвержденный</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.second_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.latest_signin %></td>
        <% if current_user.admin? %>
        <td>
          <%= form_for user, url: {action: "update_confirmed", controller: "users", user_id: user.id}, method: :post do |f| %>
            <%
             if user.is_confirmed?
              value = 'false'
             else   
              value = 'true'
             end  
            %>
            <%= f.hidden_field :is_confirmed, value: value %>

            <% if user.is_confirmed? %>
                <button type="submit" name="commit"  class="btn btn-outline-success" title="Отключить доступ" data-disable-with="Update User">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
             <% else %>   
                 <button type="submit" name="commit"  class="btn btn-outline-danger" title="Включить доступ" data-disable-with="Update User">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
             <% end %>  
            

          <% end %>
          </td>
        <% end %>
        <td>

          <%= link_to user, class: "btn btn-outline-primary" do %>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          <% end %>

        </td>
        <td>
        <% if current_user.admin? || current_user?(user) %>
          <%= link_to edit_user_path(user), class: "btn btn-outline-info" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
        </td>
        <td>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
