<% provide(:title, 'Регистрация') %>
<div class="users-new-page">
    <h1 class="users-new-page__title">Регистрация</h1>

<div class="row form-group">
  <div class="col-md-4 offset-md-4">


    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :first_name, class: "form-control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "form-control-label" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "form-control-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "rePassword", class: "form-control-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
      <%= f.submit "Зарегистрироваться", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>
</div>

</div>