<% provide(:title, @user.first_name) %>

<div class="users-show">

<%= render 'shared/notice_messages' %>

<div class="users-show__edit">
  <%= link_to edit_user_path(@user), class: "btn btn-primary users-show__edit__link" do %>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
</div>

<p>
  <strong>User name:</strong>
  <%= @user.first_name %> <%= @user.second_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Latest signin:</strong>
  <%= @user.latest_signin %>
</p>

</div>