<header>
      <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
       <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <%= link_to "SimpleSite", root_path, class: "navbar-brand" %>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <%= link_to "Главная", '/', class: "nav-link btn" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Пользователи", '/', class: "nav-link btn" %>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Управление
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Пользователи</a>
                      <a class="dropdown-item" href="#">Новости</a>
                    </div>
                  </li>
                </ul>
                <ul class="navbar-nav ">
                  <% if signed_in? %>
                  <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fa fa-bell" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.first_name %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <%= link_to "Мой профиль", "#", class: "btn" %>
                      <%= link_to "Выйти", signout_path, class: "btn" %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Войти", signin_path, class: "btn btn-primary" %>
                  </li>
                <% end %>
                </ul>
              </div>
          </div>
      </nav>
    </header>